body, head {
   font-family: Verdana, sans-serif;
}
body {
    text-align: center;

}
table {
     border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 15px;
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}

h1 {
    background-color: #4CAF50;
     padding: 30px;
    color: white;
}

h2 {
    background-color: #a5d899;
     padding: 20px;
    color: white;
}
h1, h2 {text-align: center; }